@import url('https://rsms.me/inter/inter.css');

:root {
  --cyan: #79ffe1;
  --pink: #d344e2;
  --black: #212121;
  --light-black: #666666;
  --white: #ffffff;
  --dark-white: #eeeeee;
}

body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif; 
    font-feature-settings: 'ss01' 1, 'kern' 1, 'liga' 1, 'cv05' 1;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

html {
  font-size: 20px;
}

.posts {
  width: 40%;
}

/* mobile devices */
@media only screen and (max-width: 70em) {
  .posts {
    width: 100%;
  }
  html {
    font-size: 18px;
  }
}

.posts {
  text-align: left;
  display: inline-block;
}


.post {
  margin: 1rem;
}

img {
  max-width: 100%;
  border: 0px solid transparent;
  border-radius: 4px;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary: hover {
  cursor: pointer;
}

hr {
  color: var(--dark-white);
}

.date {
  font-feature-settings: 'ss01' 1, 'kern' 1;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--light-black);
}

.separator {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px solid var(--dark-white);
}

.black-circle {
  margin:0 auto;
  width: 10rem;
  height: 10rem;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: var(--black);
}

.heading {
  margin: 0 auto;
  color: var(--black);
  text-align: center;
  font-size: 6rem;
  font-family: 'Inter var';
  text-shadow: 0.25rem 0rem var(--pink), -0.25rem 0rem var(--cyan);
  line-height: 5rem;
  font-weight: 800;
  font-style: italic;
}

a, a:hover, a:visited, a:active {
  transition: ease 0.2s;
  color: var(--light-black);
}

.post-link, .post-link:hover, .post-link:visited, .post-link:active {
  color: var(--black);
  font-weight: 650;
  font-size: 1.1rem;
  text-decoration: none;
}

.post-end-link, .post-end-link:hover, .post-end-link:visited, .post-end-link:active
{
  text-decoration: none;
  color: var(--light-black);
  text-shadow: none;
  font-size: 0.8rem;
}

.post-title {
  text-decoration: none;
  color: var(--black);
  text-shadow: none;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
}

.post-text {
  font-size: 0.9rem;
}

pre, code {
  color: var(--black);
  font-family: monospace;
}

pre {
  background-color: var(--dark-white);
  overflow: hidden;
  padding: 0.8rem;
  border: 1px solid var(--dark-white);
  border-radius: 0.2px;
}

pre:hover {
  overflow-x: scroll;
}

code {
  color: var(--pink);
}

pre > code {
  border: none;
  color: var(--black);
}

::-moz-selection, ::selection {
  background: var(--cyan);
}

.stats {
  float: right;
  color: var(--light-black);
}

.stats-number {
  font-size: 0.8rem;
  font-family: 'Inter var', Monospace;
  font-feature-settings: 'ss01' 1, 'kern' 1;
}

.stats-unit {
  font-size: 0.6rem;
  font-family: 'Inter var';
}

.footer {
  font-size: 0.7rem;
  text-align: center;
}

.footimgs {
  max-height: 0.7rem;
  display: inline-block;
  vertical-align: middle;
  image-orientation: from-image;
  cursor: pointer;
}
