@import url('https://rsms.me/inter/inter.css');

:root {
  --cyan: #59d8a6;
  --pink: #e61d91;
  --black: #212121;
  --light-black: #535353;
  --white: #ffffff;
  --dark-white: #d4d4d4;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  padding-top: 2rem;
  text-align: center;
}

html {
  font-size: 38px;
}

.posts {
  width: 100%;
}

@media only screen and (min-width: 1080px) {
  .posts {
    width: 60%;
  }
  html {
    font-size: 18px;
  }
}

.posts {
  text-align: left;
  display: inline-block;
}


.post {
  margin: 2rem;
}

hr {
  color: var(--light-black);
}

.date {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--light-black);
}

.separator {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--dark-white);
}

.black-circle {
  margin:0 auto;
  width: 10rem;
  height: 10rem;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: var(--black);
}

.heading {
  margin:0 auto;
  color: var(--white);
  text-align: center;
  font-size: 6rem;
  font-family: 'Iosevka Term', mono;
  text-shadow: 0.25rem 0rem var(--cyan), -0.25rem 0rem var(--pink);
  line-height: 8.5rem;
  font-style: italic;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  transition: ease 0.2s;
}

a:hover, a:active {
  background-color: var(--dark-white);
}

.post-link {
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-decoration-skip: objects edges box-decoration;
}

.post-end-link, .post-end-link:hover, .post-end-link:visited, .post-end-link:active {
  text-decoration: none;
  color: var(--light-black);
  text-shadow: none;
  font-size: 0.8rem;
}

.post-text {
  font-size: 0.8rem;
}

pre, code {
  background-color: var(--dark-white);
  color: var(--black);
  font-family: 'Iosevka Term', mono;
}

pre {
  padding: 1rem;
  overflow: auto;
}
